<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="">Home</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="addblog">Add Blog</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="contactus">Contact Us</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
        </ng-template>
    </li>
    <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="login">Login</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
        </ng-template>
    </li>
    
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- <pre>Active: {{ active }}</pre> -->