<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://www.facebook.com/PCCOENigadi/" target="_blank">
        <img src="http://www.pccoepune.com/images/fb.png" alt="fb_pccoe" width="64px" height="62px">
      </a>
      <a href="https://www.linkedin.com/company/pccoe-pune?trk=biz-companies-cym" target="_blank">
        <img alt="Pimpri Chinchwad college of engineering is the best engg college in Pune." class="marginleft10" src="http://www.pccoepune.com/images/Linkedin-icon.png" width="64px" height="62px">
      </a>
      <a href="https://twitter.com/pccoe_pune" target="_blank">
        <img alt="PCCOE is the best Engineering Institute in Pimpri Chinchwad Pune." class="marginleft10" src="http://www.pccoepune.com/images/twitter.png" width="64px" height="62px">
      </a>
      <a href="https://www.instagram.com/pccoepune/" target="_blank">
        <img alt="PCCOE, the famous Engineering College in Pune provides the placement in the most reputed companies." class="marginleft10" src="http://www.pccoepune.com/images/insta-icon.png" width="64px" height="62px">
      </a>
      <a href="https://www.youtube.com/channel/UCQiPDETOiteTLmAvvPk1WjA" target="_blank">
        <img alt="PCCOE, best engineering college in Pune offers good courses with good placement." class="marginleft10" src="http://www.pccoepune.com/images/youtube-icon.png" width="64px" height="62px">
      </a>
      <h3> PCCOE, Pune </h3>
    </div>
  </footer>